# StegoVault — Midnight Preprod Network Configuration
VITE_1AM_NETWORK=preprod
VITE_MIDNIGHT_INDEXER_URL=https://indexer.preprod.midnight.network/api/v1/graphql
VITE_MIDNIGHT_NODE_URL=https://rpc.preprod.midnight.network
VITE_MIDNIGHT_PROVER_URL=http://localhost:6300
VITE_CONTRACT_ADDRESS=0200578f0943ded482a2eb5b575717ab4e88f43c5335bac10f87a28d51536b7d63c4
